.theme-dark {
  display: none !important;
}

.theme-light {
  display: inline !important;
}

html[data-theme="dark"] .theme-dark {
  display: inline !important;
}

html[data-theme="dark"] .theme-light {
  display: none !important;
}
